[submodule "src/yolo_ros"]
	path = src/yolo_ros
	url = https://ghp.ci/https://github.com/mgonzs13/yolo_ros.git
[submodule "src/transport_drivers"]
	path = src/transport_drivers
	url = https://ghp.ci/https://github.com/ros-drivers/transport_drivers
